#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards{
display:flex;
  width: 100%;
  padding: 30px 0;
  overflow: scroll;
  
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 300px;
  font-size: 16px;
  color: #333;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}